extends layout

block content
  strong Inventory
  #accordion.accordion-toggle.border.border-dark
      div(data-toggle='collapse', href='#collapse').container
        .row
          .col
            strong Add New Inventory Item
            

      div(id='collapse' class=['panel-collapse','collapse','in']).container
          .row.border.border-success
            div.col
                form(method='POST' action='products/create')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label(class='col-md-2 col-form-label font-weight-bold', for='newProductName') New Inventory Item Name
                    .col-sm
                      input(type='hidden', name='itemId', value='loc._id')
                      input.border.border-dark.form-control(type='text', name='newProductName', id='unitName',  required, placeholder ='New Inventory Item Name')
                    .col-sm.pt-3
                        button.btn.btn-success(type='submit')
                          | Add product

  div.border.border-dark.container
    strong Products
      each loc, index in inventory
        div#accordion.accordion-toggle.border.border-dark
         .row(data-toggle='collapse', href='#collapse'+index)
            .col
              strong='Name : '+ loc
            .col
              | Total Slots : 
              
            
        div(id='collapse'+index class=['panel-collapse','collapse','in']).container
            .row
              div.border.border-warning.col
                form(action='/products/edit', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='itemId', value=loc)
                  label Modify value : 
                  input(type='text', name='newName', value=loc)
                  br
                  button.btn.btn-warning(type='submit')
                      | Save modified values
                

              div.border.border-danger.col
                p 
                  | Deletes location & all location data
                form(action='/products/delete', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='deleteId', value=loc)
                    button.btn.btn-danger(type='submit')
                      | Delete location :  #{loc}