extends layout

block content
  strong Products
  #accordion.accordion-toggle.border.border-dark
      div(data-toggle='collapse', href='#collapse').container
        .row
          .col
            strong Add New Product
            

      div(id='collapse' class=['panel-collapse','collapse','in']).container
          .row.border.border-success
            div.col
                form(method='POST' action='products/create')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label(class='col-md-2 col-form-label font-weight-bold', for='newProductName') New Product Name
                    .col-sm
                      input(type='hidden', name='itemId', value='loc._id')
                      input.border.border-dark.form-control(type='text', name='newProductName', id='unitName',  required, placeholder ='New Product Name')
                    .col-sm.pt-3
                        button.btn.btn-success(type='submit')
                          | Add product

  div.border.border-dark.container
    strong Products
      each loc, index in product
        div.border.border-dark
         .row
            .col
              ='Name : '+ loc.name
              br
              | Total Steps : 
            .col
              // Button trigger modal
              .btn.btn-warning(type='button' data-toggle='modal' data-target='#EditModal'+ loc._id)
                | Edit Product
              // Modal
              .modal.fade(id='EditModal'+ loc._id,tabindex='-1'  aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    form(action='/products/edit', method='POST')
                      .modal-header
                        h5#exampleModalLongTitle.modal-title #{loc.name}
                      .modal-body
                        div.border.border-warning.col
                          input(type='hidden', name='_csrf', value=_csrf)
                          input(type='hidden', name='itemId', value=loc._id)
                          label Modify value :
                          input(type='text', name='newName', value=loc.name)
                            
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-warning(type='submit')
                                | Save modified values
            .col 
              // Button trigger modal
              .btn.btn-danger(type='button' data-toggle='modal' data-target='#DeleteModal'+ loc._id)
                | Delete Product
              // Modal
              .modal.fade(id='DeleteModal'+ loc._id,tabindex='-1'  aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    form(action='/products/delete', method='POST')
                      .modal-header
                        h5#exampleModalLongTitle.modal-title #{loc.name}
                      .modal-body
                        div.border.border-danger.col
                          p 
                            | Deletes location & all location data
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='deleteId', value=loc)
                        
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-danger(type='submit')
                              | Delete product :  #{loc.name}
            .col 
              // Button trigger modal
              .btn.btn-primary(type='button' data-toggle='modal' data-target='#StepModal'+ loc._id)
                | Steps
              // Modal
              .modal.fade(id='StepModal'+ loc._id,tabindex='-1'  aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    form(action='/products/delete', method='POST')
                      .modal-header
                        h5#exampleModalLongTitle.modal-title #{loc.name}
                      .modal-body
                        div.border.border-danger.col
                          p 
                            | Deletes location & all location data
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='deleteId', value=loc)
                        
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-danger(type='submit')
                              | Delete product :  #{loc.name}

           
