extends layout

block content
  



  div
    each loc, index in location
      #accordion.accordion-toggle.border-top.border-dark
        div(data-toggle='collapse', href='#collapse'+index).container
          .row
            .col
              strong='Production Location : ' +loc.name
            .col
              strong='Slots in location : ' + loc.slots.length
             

        div(id='collapse'+index class=['panel-collapse','collapse','in']).container
            .row.mb-1.border.border-success
              div.col
                  form(method='POST' action='slots/create')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label(class='col-md-2 col-form-label font-weight-bold', for='newUnitName') New Production slot Name
                      .col-sm
                        input(type='hidden', name='itemId', value=loc._id)
                        input.border.border-dark.form-control(type='text', name='newUnitName', id='unitName',  required, placeholder ='New Slot Name')
                      .col-sm.pt-3
                          button.btn.btn-success(type='submit')
                            | Add production slot to #{loc.name}

        div(id='collapse'+index class=['panel-collapse','collapse','in'])                    
          each prodSlot, index in loc.slots 
            div.border.border-dark.container.mb-1

              div#accordion.accordion-toggle
                  div(data-toggle='collapse', href='#slotdata'+index).border.container
                    .row
                      strong Slot Data
                      strong Slots #{prodSlot.name}
                  div(id='slotdata'+index class=['panel-collapse','collapse','in'])   
                    .row
                      .col
                        strong='Production Slot Name : ' + prodSlot.name
                        a.list-group-item.bg-warning Slot Data : #{prodSlot}


              div#accordion.accordion-toggle
                  div(data-toggle='collapse', href='#slotstatus'+index).border
                    strong Slot Status
                  div(id='slotstatus'+index class=[ 'panel-collapse','collapse','in'])   
                    .row
                      .col
                        strong='Production Slot Name : ' + prodSlot.name
                        a.list-group-item Slot Assigned Product : //todo


              div#accordion.accordion-toggle
                div(data-toggle='collapse', href='#editslot'+index).border.border-warning
                  strong Edit Slot
                div(id='editslot'+index class=['panel-collapse','collapse','in'])
                  .row
                    .col
                      form(action='/slots/edit', method='POST').list-group-item
                        input(type='hidden', name='_csrf', value=_csrf)
                        input(type='hidden', name='slotId', value=prodSlot._id)
                        label Current Name : #{prodSlot.name}
                        br
                        a New Value : 
                        input(type='text', name='newName', value=prodSlot.name)
                        br
                        button.btn.btn-warning(type='submit')
                            | Save modified production slot name 


              div#accordion.accordion-toggle
                div(data-toggle='collapse', href='#deleteslot'+index).border.border-danger
                  strong Delete Slot
                div(id='deleteslot'+index class=['panel-collapse','collapse','in'])   
                  .row
                    .col
                      form(action='/slots/delete', method='POST').list-group-item
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='locationId', value=loc._id)
                            input(type='hidden', name='unitId', value=prodSlot._id)
                            button.btn.btn-danger(type='submit')
                              | Delete Production Unit :  #{prodSlot.name} 

        



