extends layout

block content
  
  div
    each loc, index in location
        #accordion.accordion-toggle.border-top.border-dark
          div(data-toggle='collapse', href='#collapse'+index).container
            .row
              .col
                strong='Production Location : ' +loc.name
              .col
                strong='Slots in location : ' + loc.slots.length

          div(id='collapse'+index class=['panel-collapse','collapse','in']).container
              .row.mb-1.border.border-success
                div.col
                    form(method='POST' action='slots/create')
                      input(type='hidden', name='_csrf', value=_csrf)
                      .form-group
                        label(class='col-md-2 col-form-label font-weight-bold', for='newUnitName') New Production slot Name
                        .col-sm
                          input(type='hidden', name='itemId', value=loc._id)
                          input.border.border-dark.form-control(type='text', name='newUnitName', id='unitName',  required, placeholder ='New Slot Name')
                        .col-sm.pt-3
                            button.btn.btn-success(type='submit')
                              | Add production slot to #{loc.name}

                              
              each prodSlot, index in loc.slots 
                  div(class=['slot','border','border-dark'],value=prodSlot._id)
                    .btn
                      |#{ prodSlot.name}
                    .btn.ed
                      | Edit
                    .btn.de
                      | Delete
                    .btn.as
                      | Assign Slot &nbsp;
                      select(name='dropDown', id='')
                        each val in product
                            option(onclick="console.log('yee')")=val
                 
              //-
                Comments for your template writers.
                Use as much text as you want.
                      div
                        form(action='/slots/edit', method='POST').list-group-item
                          input(type='hidden', name='_csrf', value=_csrf)
                          input(type='hidden', name='slotId', value=prodSlot._id)
                          label Current Name : #{prodSlot.name}
                          br
                          a New Value : 
                          input(type='text', name='newName', value=prodSlot.name)
                          br
                          button.btn.btn-warning(type='submit')
                              | Save modified production slot name 
                      strong Delete Slot
                      div   
                        form(action='/slots/delete', method='POST').list-group-item
                              input(type='hidden', name='_csrf', value=_csrf)
                              input(type='hidden', name='locationId', value=loc._id)
                              input(type='hidden', name='slotId', value=prodSlot._id)
                              button.btn.btn-danger(type='submit')
                                | Delete Production Unit :  #{prodSlot.name} 
  
  script(defer).
    window.onload = function() {


      jQuery.each(jQuery(".ed") , function(index, value){
          value.addEventListener('click',function(el){
            console.log(el)
        
        })
      })
      jQuery.each(jQuery(".de") , function(index, value){
          value.addEventListener('click',function(el){
            console.log(el)
        
        })
      })
      jQuery.each(jQuery(".as") , function(index, value){
          value.addEventListener('click',function(el){
            console.log(el)
        
        })
      })
      
      

    };
  
          



